<section id="como-funciona">
	<div class="banner-como-funciona">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
	
					<div style="padding: 10px; margin: 0px; background-color: rgba(251,251,251,0.8); border: 0px solid white; line-height: 1.6">
						<div style="margin: 2%; color: #000000">
							<h1>Como funciona</h1>
							<br/>
							<p>No FUTSTAT o cadastro é gratuito! Qualquer usuário pode usar o sistema para
							criar, gerenciar seus campeonatos e acompanhar o andamento da competição a partir
							de qualquer dispositivo com acesso à internet.</p>
							<br/>
							<p>Todas as Equipes inscritas no campeonato terão suas histórias e seus 
							currículos atualizados automaticamente.</p>
							<br/>
							<p>Os Jogadores que desejarem ter seu próprio currículo,
							tornarem-se elegíveis para o Ranking Futstat de atletas de alto desempenho e 
							estarem disponíveis para a avaliação de agentes e empresários do mercado de 
							futebol deverão pagar uma taxa única e individual de inscrição do campeonato.</p>
							<br/>
							<p>E mais! Você pode se tornar também um AGENTE FUTSTAT, ajudando-nos
							a descobrir novos talentos e ser ainda recompensado por isso. Para saber mais
							detalhes sobre como tornar-se um AGENTE FUTSTAT entre em contato
							com nosso time!</p>
						</div>
					</div>
				
				<br/>
				</div>
				<div class="col-lg-6">
					<h3>Como criar um Campeonato</h3>
					<p>VIDEO 1</p>
					<br/>
					<h3>Como inscrever um Jogador em uma Equipe</h3>
					<p>VIDEO 3</p>
					<br/>
				</div>
				<div class="col-lg-6">
					<h3>Como inscrever uma Equipe em um Campeonato</h3>
					<p>VIDEO 2</p>
					<br/>
					<h3>Como criar a Tabela de Jogos de um Campeonato</h3>
					<p>VIDEO 4</p>
					<br/>
				</div>
				<div class="col-lg-6">
					<h3>Como preencher a Súmula de Jogo</h3>
					<p>VIDEO 5</p>
					<br/>
				</div>
				<div class="col-lg-6">
					<h3>Como consultar as estatísticas de um Campeonato</h3>
					<p>VIDEO 6</p>
					<br/>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->