<section id="contato">
	<div class="banner-statistics">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
				</div>
				<div class="col-lg-6">
					<h1>Nossas estatísticas</h1>
					<br/>
					<p>465 ATLETAS</p>
					<p>26 EQUIPES</p>
					<p>02 CIDADES</p>
					<p>03 ASSOCIAÇÕES</p>
					<br/><br/>
            
					<h1>Clientes e Parceiros</h1>
					<div class="">
						<div class="col-lg-6">
							<img class="img-clients" src="img/logo-liga-paulista.png" alt="">
						</div>
						<div class="col-lg-6">
							<img class="img-clients" src="img/logo-liga-gaucha.png" alt="">
						</div>
					</div>
					<br/><br/>
				
					<h1>Contato</h1>
					<br/>
					<p>andre@futstat.com.br</p>
					<p>(19) 9-9848-2662</p>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->