<section id="contato">
	<div class="banner-statistics">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
				</div>
				<div class="col-lg-6">
					<div class="col-lg-12" style="padding:0">
						<h1>Nossas estatísticas</h1>
						<br/>
						<p>545 ATLETAS</p>
						<p>29 EQUIPES</p>
						<p>02 CIDADES</p>
						<p>02 LIGAS PROFISSIONAIS ESTADUAIS </p>
						<br/><br/>
					</div>
            
					<div class="col-lg-12" style="padding:0">
						<h1>Clientes e Parceiros</h1>
						<div class="">
							<div class="col-lg-6" style="padding:0">
								<img class="img-clients" src="img/logo-liga-paulista.png" alt="">
							</div>
							<div class="col-lg-6" style="padding:0">
								<img class="img-clients" src="img/logo-liga-gaucha.png" alt="">
							</div>
						</div>
						<br/><br/>
					</div>
				
					<div class="col-lg-12" style="padding:0">
						<h1>Contato</h1>
						<br/>
						<p>andre@futstat.com.br</p>
						<p>(19) 9-9848-2662</p>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->