<section id="contato">
	<div class="banner-statistics">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
				</div>
				<div class="col-lg-6">
					<div class="col-lg-12" style="padding:0; margin-top:5%">
						<h1>Nossas estatísticas</h1>
						<br/>
						<p>936 ATLETAS</p>
						<p>78 EQUIPES</p>
						<p>16 CIDADES</p>
						<p>03 LIGAS PROFISSIONAIS ESTADUAIS </p>
					</div>
            
					<div class="col-lg-12" style="padding:0; margin-top:5%">
						<h1>Clientes e Parceiros</h1>
						<div class="">
							<div class="col-lg-6" style="padding:0">
								<img class="img-clients" src="img/logo-liga-paulista.png" alt="">
							</div>
							<div class="col-lg-6" style="padding:0">
								<img class="img-clients" src="img/logo-liga-gaucha.png" alt="">
							</div>
							<div class="col-lg-6" style="padding:0">
								<img class="img-clients" src="img/logo-liga-paraibana.png" alt="">
							</div>
						</div>
					</div>
				
					<div class="col-lg-12" style="padding:0; margin-top:5%">
						<h1>Contato</h1>
						<br/>
						<p>andre.blazko@gmail.com</p>
						<p>(19) 9-9848-2662</p>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->