    <!-- O-QUE-OFERECEMOS Section -->
    <section id="o-que-oferecemos" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h1>O que oferecemos?</h1>
              <br/>
              
            <div style="font-size:120%">
                <p>A todos os <font color="#FF8900">atletas amadores e profissionais</font> a oportunidade de registrarem, divulgarem e eternizarem a sua história no futebol.</p>
                <p>A todas as <font color="#FF8900">equipes e clubes</font> a chance de ter a um clique de distância o acesso a todos os detalhes de suas conquistas e dos talentos que fizeram história.</p>
                <p>Aos <font color="#FF8900">agentes e empresários</font> um acervo de dados riquíssimo de informações e análises sobre os futuros jogadores profissionais, de seleção e, por que não, olímpicos! Talentos do nosso futebol apenas esperando para serem descobertos.</p>
                <p>Tudo isso e muito mais!</p>
                <br/>
            </div>
            
            <div class="col-lg-1">
            </div>
                             
            <div style="font-size:140%" class="col-lg-10 text-center">
                <p>Saia do anonimato, traga seus campeonatos para o FUTSTAT e comece agora a criar seu currículo de atleta e do seu clube!</p>
                
        	<div class="col-lg-1">
            </div>
                                             
                <br/>
            </div>
                 
                <br/>
              </div>
        </div>
    </section>
