    <!-- QUEM-SOMOS Section -->
    <section id="quem-somos" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h1>Quem somos</h1>
              <br/>
              
            <div style="font-size:120%">
                <p>Somos uma startup brasileira que nasce de uma paixão por estatística e futebol. Queremos levar a oportunidade para todos os atletas, sejam amadores ou profissionais, de contarem e eternizarem suas histórias também através dos números, e não somente por seus títulos.</p>
                <p>Acreditamos que ajudando milhares de atletas a registrarem e valorizarem ainda mais suas histórias e conquistas eles irão se tornar cada vez mais engajados e estimulados a perseguirem seus objetivos e seus sonhos.</p>
                <p>Queremos descobrir novos talentos! Acompanhar suas histórias e inspirar (se inspirar) por elas! Orgulharnos em ajudar esses atletas a darem maior visibilidade às suas histórias e dedicação ao esporte.</p>
              
            </div>
            
            <div class="text-center">
                <div class="col-lg-6">
                    <img class="img-who-we-are" src="img/Andre-futstat.png" alt="">
                    <h5>André Blazko, Pivô</h5>
                    <h5>Apaixonado por estatística e futsal e entusiasta<br>por inovação e novos negócios</h5>
                </div>
                <div class="col-lg-6">
                    <img class="img-who-we-are" src="img/Dadinho-futstat.png" alt="">
                    <h5>Eduardo Blazko Jr., Fixo</h5>
                    <h5>Advogado, empreendedor e louco por futsal.</h5>
                </div>
            </div>
                
                <br/>
              </div>
        </div><br/><br/><br/>
    </section>